<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before you continue</h1>

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <%= render 'check_answers/name' %>
          <%= render 'check_answers/degree/date_of_birth' %>
          <%= render 'check_answers/degree/uk_candidate' %>
          <%= render 'check_answers/email' %> 
        </dl>

        <h2 class="govuk-heading-m">What you've told us</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <%= render 'check_answers/returning_teacher' %>
          <%= render 'check_answers/have_a_degree' %>
          <%= render 'check_answers/degree/what_subject_degree' %>
          <%= render 'check_answers/degree/stage_interested_teaching' %>

          <!-- Primary options -->
          <% if session[:registration]['primary_or_secondary'] == 'primary' %>
            <%= render 'check_answers/degree/science_grade4' %>
            <%= render 'check_answers/degree/primary_maths_english_grade4' %>
          <% end %>

          <!-- Secondary options -->
          <% if session[:registration]['primary_or_secondary'] == 'secondary' %>
            <%= render 'check_answers/degree/secondary_maths_english_grade4' %>
            <% if session[:registration]['has_required_subjects'] == 'no' %>
              <%= render 'check_answers/degree/retake_english_maths' %>
            <% end %>
          <% end %>

            <%= render 'check_answers/degree/subject_interested_teaching' %>
            <%= render 'check_answers/degree/start_teacher_training' %>
            <%= render 'check_answers/degree/uk_or_overseas' %>
        </dl>
        
        <%= f.hidden_field :confirmed, value: true %>

        <div class="govuk-form-group">
            <%= f.submit :Continue, class: 'govuk-button auto-width' %>
        </div>

      </div>
    </div>
  </main>
</div>