<%= f.govuk_fieldset legend: { text: 'About You.' } do %>
<p class="govuk-body">We now need to collect some personal details to complete your registration. Your details are protected under the terms of our <a href="www.gov.uk/help/privacy-notice">privacy notice</a>.</p>

  <%= f.govuk_text_field :first_name, width: 20,
    label: { text: 'First Name' } %>
  <%= f.govuk_text_field :last_name, width: 20,
    label: { text: 'Surname' } %>
    <%= f.govuk_email_field :email_address, width: 20,
    label: { text: 'Email Address' } %>
  <%= f.govuk_submit %>

  <p class="govuk-body">Your details are protected under the terms of our <a href="www.gov.uk/help/privacy-notice">privacy notice</a></p>
  <p class="govuk-body">Our privacy notice explains how we use your personal data. It is important you have read this notice before signing up to get help from a teacher training advisor</p>
<% end %>
