<%= f.govuk_radio_buttons_fieldset(:like_to_teach, legend: { text: 'Which subject would you like to teach if you return to teaching?' } ) do %>
  <%= f.govuk_radio_button :like_to_teach, 'a42655a1-2afa-e811-a981-000d3a276620', label: { text: 'Maths' } %>
  <%= f.govuk_radio_button :like_to_teach, 'ac2655a1-2afa-e811-a981-000d3a276620', label: { text: 'Physics' } %>
   <%= f.govuk_radio_button :like_to_teach, 'a22655a1-2afa-e811-a981-000d3a276620', label: { text: 'Modern foreign language' } %>
<% end %>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Can't see the subject you would like to teach?
    </span>
  </summary>
  <div class="govuk-details__text">
    If you want to return to teaching with a subject that is not listed above you can get further help by visiting the LINK TO GUIDANCE PAGE.
  </div>
</details>

<%= f.govuk_submit %>