<%= f.govuk_radio_buttons_fieldset(:preferred_teaching_subject_id, legend: { text: 'Which subject would you like to teach if you return to teaching?' } ) do %>
  <%= f.govuk_radio_button :preferred_teaching_subject_id, SubjectLikeToTeach::options["Maths"], label: { text: 'Maths' } %>
  <%= f.govuk_radio_button :preferred_teaching_subject_id, SubjectLikeToTeach::options["Physics"], label: { text: 'Physics' } %>
   <%= f.govuk_radio_button :preferred_teaching_subject_id, SubjectLikeToTeach::options["Languages (other)"], label: { text: 'Modern foreign language' } %>
<% end %>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Can't see the subject you would like to teach?
    </span>
  </summary>
  <div class="govuk-details__text">
    If you want to return to teaching with a subject that is not listed above you can get further help by visiting the <a href="https://beta-getintoteaching.education.gov.uk/guidance#9" class="govuk-link">return to teaching guidance</a> page.
  </div>
</details>

<%= f.govuk_submit %>