<div class="govuk-form-group">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Check your answers
            </h1>
        </legend>
       
        <%= f.hidden_field :confirmed, value: true %>

        <div class="govuk-form-group">
            <h3>
               What is your name and email?
            </h3>
            <p class="govuk-body"><%= show_name_and_email %></p>
            <p class="govuk-body"><%= show_link('identity') %>
        </div>

        <div class="govuk-form-group">
            <h3>
               Are you returning to teaching?
            </h3>
            <p class="govuk-body"><%= show_session('returning_to_teaching')%></p>
            <p class="govuk-body"><%= show_link('returning_teacher') %>
        </div>

        <div class="govuk-form-group">
            <h3>
               Do you have a degree?
            </h3>
            <p class="govuk-body"><%= show_session('degree')%></p>
            <p class="govuk-body"><%= show_link('have_a_degree') %>
        </div>

        <div class="govuk-form-group">
            <h3>
               Which subject is your degree?
            </h3>
            <p class="govuk-body"><%= show_session('degree_subject')%></p>
            <p class="govuk-body"><%= show_link('what_subject_degree') %>
        </div>

        <div class="govuk-form-group">
            <h3>
               What stage are you interested in teaching?
            </h3>
            <p class="govuk-body"><%= show_session('primary_or_secondary')%></p>
            <p class="govuk-body"><%= show_link('stage_interested_teaching') %>
        </div>

        <div class="govuk-form-group">
            <h3>
               Do you have Science GCSE Grade 4 or above?
            </h3>
            <p class="govuk-body"><%= show_session('have_science') %></p>
            <p class="govuk-body"><%= show_link('science_grade4') %>
        </div>

        <div class="govuk-form-group">
            <h3>
                Do you have Maths and English GCSE Grade 4 or above?
            </h3>
            <p class="govuk-body"><%= show_session('has_required_subjects') %></p>
            <p class="govuk-body"><%= show_link('primary_maths_english_grade4') %>
        </div>

        <div class="govuk-form-group">
            <h3>
                What are you interested in teaching?
            </h3>
            <p class="govuk-body"><%= show_session('teaching_subject') %></p>
            <p class="govuk-body"><%= show_link('subject_interested_teaching') %>
        </div>

        <div class="govuk-form-group">
            <h3>
                When do you want to start your teacher training?
            </h3>
            <p class="govuk-body"><%= show_session('year_of_entry') %></p>
            <p class="govuk-body"><%= show_link('qualified_to_teach') %>
        </div>

        <div class="govuk-form-group">
            <h3>
                What is your date of birth?
            </h3>
            <p class="govuk-body"><%= show_dob %></p>
            <p class="govuk-body"><%= show_link('date_of_birth') %>
        </div>

        <div class="govuk-form-group">
            <h3>
                Where do you live?
            </h3>
            <p class="govuk-body"><%= show_session('uk_or_overseas') %></p>
            <p class="govuk-body"><%= show_link('uk_or_overseas') %>
        </div>

        <div class="govuk-form-group">
            <h3>
                What is your address?
            </h3>
            <p class="govuk-body"><%= show_uk_address %></p>
            <p class="govuk-body"><%= show_link('uk_candidate') %>
        </div>

        <div class="govuk-form-group">
            <%= f.submit :Continue, class: 'govuk-button auto-width' %>
        </div>

    </fieldset>
</div>