<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              <%= show_name %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= show_link('identity') %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
             <%= show_dob %>
            </dd>
            <dd class="govuk-summary-list__actions">
             <%= show_link('date_of_birth') %> 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              <%= show_uk_address %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= show_link('uk_candidate')%>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= show_email %></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Application details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Returning to teaching?
            </dt>
            <dd class="govuk-summary-list__value">
              <%= show_session('returning_to_teaching') %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= show_link('returning_teacher') %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence type
            </dt>
            <dd class="govuk-summary-list__value">
              For personal use
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence period
            </dt>
            <dd class="govuk-summary-list__value">
              Valid for 6 months
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <%= f.hidden_field :confirmed, value: true %>

        <div class="govuk-form-group">
            <%= f.submit :Continue, class: 'govuk-button auto-width' %>
        </div>

      </div>
    </div>
  </main>
</div>