<div id="cookie-banner" aria-label="cookie banner" role="region"
  data-controller="cookie-acceptance" class="hide">

  <div id="cookie-banner-message" class="govuk-width-container"
    data-cookie-acceptance-target="banner">
    <h1>Tell us whether you accept cookies</h1>
    <p>
    We use <%= link_to "cookies to collect information", cookies_path %> about how you use census.gov.uk. 
    We use this information to make the website work as well as possible and improve our services.
    </p>
    <%= link_to "Accept all cookies", "#", id: "cookies-agree",
          class: "govuk-button", data: {
            action: "cookie-acceptance#allowAll",
            "cookie-acceptance-target": "accept"
          } %>

    &nbsp;

    <%= link_to "Set cookie preferences", cookie_preference_path, class: "govuk-button" %>
  </div>

  <div id="cookie-banner-flash" class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>We've updated your cookie settings.</p>

        <p>
          You can
          <%= link_to 'change your cookie settings', cookie_preference_path %>
          at any time.
        </p>
      </div>

      <div class="govuk-grid-column-one-third">
        <%= link_to "Hide", "#", data: { action: 'cookie-acceptance#hideCookieBanner' } %>
      </div>
    </div>
  </div>
</div>
