<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before you continue</h1>

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <%= render 'check_answers/name' %>
          <%= render 'check_answers/equivalent/date_of_birth' %>
          <%= render 'check_answers/email' %>
          <%= render 'check_answers/equivalent/telephone' %>
        </dl>

        <h2 class="govuk-heading-m">Your details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <%= render 'check_answers/returning_teacher' %>
          <%= render 'check_answers/have_a_degree' %>
          <%= render 'check_answers/equivalent/stage_interested_teaching' %>
          <%= render 'check_answers/equivalent/subject_interested_teaching' %>
          <%= render 'check_answers/equivalent/start_teacher_training' %>
          <%= render 'check_answers/equivalent/uk_or_overseas' %>
          <%= render 'check_answers/equivalent/callback_date' %>
          <%= render 'check_answers/equivalent/callback_time' %>
        </dl>
        
        <%= f.hidden_field :confirmed, value: true %>

        <div class="govuk-form-group">
            <%= f.submit :Continue, class: 'govuk-button auto-width' %>
        </div>

      </div>
    </div>
  </main>
</div>