<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before you continue</h1>

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <%= render 'check_answers/name' %>
          <%= render partial: 'check_answers/date_of_birth', locals: { link: Equivalent::LINK } %>
          <%= render partial: 'check_answers/uk_candidate', locals: { link: Equivalent::LINK } %>
          <%= render 'check_answers/email' %>
          <%= render partial: 'check_answers/uk_callback_telephone', locals: { link: Equivalent::LINK } %>
        </dl>

        <h2 class="govuk-heading-m">What you've told us</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <%= render 'check_answers/returning_teacher' %>
          <%= render 'check_answers/have_a_degree' %>
          <%= render partial: 'check_answers/stage_interested_teaching', locals: { link: Equivalent::LINK }%>

          <!-- Secondary options -->
          <% if StageInterestedTeaching::OPTIONS.key(session[:registration]['preferred_education_phase_id']).to_s == 'secondary' %>
            <%= render partial: 'check_answers/subject_interested_teaching', locals: { link: Equivalent::LINK }%>
          <% end %>

          <% ['start_teacher_training',
              'uk_or_overseas',
              'uk_callback_date',
              'uk_callback_time'].each do |url| %>
            <%= render partial: 'check_answers/' + "#{url}", locals: { link: Equivalent::LINK } %>
          <% end %>
        </dl>

        <%= f.hidden_field :confirmed, value: true %>

        <div class="govuk-form-group">
            <%= f.submit :Continue, class: 'govuk-button auto-width' %>
        </div>

      </div>
    </div>
  </main>
</div>