<main class="govuk-main-wrapper no-margin" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Get support</h1>

        <p>We're sorry, but to be eligible for this service, you must be planning to teach maths, physics or modern foreign languages (MFL).</p>

        <p>However, Get into Teaching's <%= link_to_git_site("online Q&A webinars", "event-categories/online-q-as") %> are open to returning and international teachers in all subjects and age groups.</p>

        <p>You can also search for teaching jobs in England at <%= link_to_git_site("Teaching Vacancies", "event-categories/online-q-as") %>.</p>

        <p>Dedicated pages on the Get into Teaching website also offer help and advice:</p>

        <p><%= link_to_git_site("Returning to teaching", "returning-to-teaching") %></p>

        <p><%= link_to_git_site("Come to England to teach if you're a teacher from outside the UK", "come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk") %></p>

        <p><%= link_to_git_site("Return to teaching from overseas", "international-returners") %></p>
    </div>
  </div>
</div>
