<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you <br> Sign up complete
          </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>

        <% if @returner %>
        <p>
          A return to teaching adviser will email you to outline your next steps.
        </p>
        <% elsif @equivalent_degree %>
        <p>
          We've booked a call. We will be in contact with you at the time you selected.
        </p>
        <p>
          If we are unable to contact you at this time, we will try to contact you a further 2 times. If we are still unable to contact you, you will have to sign up again.
        </p>
        <% else %>

        <p>An adviser will email you within 3 working days.</p>

        <p>You need to reply to the email to be assigned an adviser.</p>

        <% end %>

        <p>If you’re planning to start teacher training this September, you can speed things up by:</p>

        <ul>
          <li>searching for courses on <%= link_to("Find postgraduate teacher training", "https://www.gov.uk/find-postgraduate-teacher-training-courses") %></li>
          <li>Start an application at <%= link_to("Apply for teacher training", "https://www.gov.uk/apply-for-teacher-training") %></li>
          <li>Start writing your <%= link_to("personal statement", "https://getintoteaching.education.gov.uk/tips-on-applying-for-teacher-training") %></li>
        </ul>

        <p>Places fill up quickly at this time of year, but courses are still available.</p>

        <h2 class="govuk-heading-m">Understanding your options</h2>

        <p>As well as an adviser, you can find help and guidance on the Get Into Teaching website. There, you can:</p>

        <ul>
          <li>ask any immediate questions using the <%= link_to_git_site "online chat", "#talk-to-us" %></li>
          <li>discover the different <%= link_to_git_site "ways to train", "ways-to-train" %> to become a teacher</li>
          <li>find out about <%= link_to_git_site "funding", "funding-your-training" %></li>
          <li><%= link_to_git_site "search for events", "events" %> that might interest you</li>
          <% if @returner %>
            <li>read further information on our dedicated <%= link_to_git_site "return to teaching page", "returning-to-teaching" %></li>
          <% end %>
        </ul>

        <p>
          If you have any questions or you need to update any of the information you provided, call <a href="tel:08003892500">0800 389 2500</a> for free between 8.30am and 5.30pm Monday to Friday.
        </p>

        <p>
          <%= link_to("What did you think of this service?", new_teacher_training_adviser_feedback_path, target: :blank) %> (takes 30 seconds)
        </p>

        <span data-controller="pinterest"
              data-pinterest-action-value="track"
              data-pinterest-event-value="signup"></span>

        <span data-controller="snapchat"
              data-snapchat-action-value="track"
              data-snapchat-event-value="SIGN_UP"></span>

        <span data-controller="facebook"
              data-facebook-action-value="track"
              data-facebook-event-value="CompleteRegistration"></span>

        <span data-controller="gtm"
              data-gtm-action-value="event"
              data-gtm-event-value="conversion"
              data-gtm-event-data-value='{"send_to":"AW-1071004410/1Rs4CM_qitsBEPr12P4D"}'></span>

        <span data-controller="lid"
              data-lid-action-value="track"
              data-lid-event-value="CompleteApp"></span>
      </div>
    </div>
  </div>
</div>
